<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.pandaria">
        <!-- 排除关于controller的配置 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <!-- 去除项目mq以及定时任务的依赖 -->
        <context:exclude-filter type="regex" expression="org.xxxx.core.support.mq.*"/>
        <context:exclude-filter type="regex" expression="org.xxxx.core.support.scheduler.*"/>
        <context:exclude-filter type="regex" expression="org.xxxx.scheduler.*"/>
    </context:component-scan>

    <!-- 验证码配置开始 -->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.image.width">134</prop>
                        <prop key="kaptcha.image.height">60</prop>
                        <!-- 有些字母比较相似,难以区分,排除掉-->
                        <prop key="kaptcha.textproducer.char.string">123456789abcdefhiklmnrstuwxz</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.noise.color">white</prop>
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
                        <prop key="kaptcha.background.clear.from">black</prop><!-- 背景颜色渐变，开始颜色(green) -->
                        <prop key="kaptcha.background.clear.to">black</prop><!-- 背景颜色渐变，结束颜色 -->
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.WaterRipple
                        </prop><!-- 水纹 -->
                        <prop key="kaptcha.background.impl">com.google.code.kaptcha.impl.DefaultBackground
                        </prop><!-- 背景实现类 -->
                        <prop key="kaptcha.border">yes</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">white</prop>
                        <prop key="kaptcha.textproducer.font.size">45</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <!-- 验证码配置结束 -->

    <!-- 国际化配置 -->
    <bean id="messageSource" class="com.pandaria.core.message.ExposedResourceMessageBundleSource">
        <property name="basenames">
            <list>
                <value>classpath:i18n/messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="3600"/>
    </bean>
    <!-- 配置 JSR303 Bean Validator 定义 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <!-- 引入SPRING配置文件 -->
    <import resource="config/data-source.xml"/>
    <import resource="config/mybatis.xml"/>
    <import resource="config/redis.xml"/>
    <import resource="config/shiro.xml"/>
</beans>