<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- spring mvc 特点 1.它是一个大的对象工厂，这是整个spring最核心、最基本的功能。spring mvc的核心功能，表现在在依赖注入。 
		2.dispatcher servlet在被初始化的时候，就会读取配置文件中的各个bean,完成对各个类型、各个构件的初始化过程。 
		3.如查没有指定dispatcher(调度器)读取哪一个配置文件，dispatcher会默认读取/WEB-INF/[servlet-name]-servlet.xml配置文件。 
		4.建一个名为StartController的java文件，再在WEB-INF/目录下建一个test-servlet.xml的配置文件。 -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:*.xml </param-value>
	</context-param>

	<!-- Spring 容器启动监听器;可以配置多个listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener </listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet </servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup><!-- 在项目启动时就加载 -->
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern> <!-- 获得所有以 .do的请求，即管理所有以 .do的请求 -->
	</servlet-mapping>
</web-app>
