<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Spring创建数据连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${db.driverClassName}</value>
		</property>
		<property name="url">
			<value>${db.url}</value>
		</property>
		<property name="username">
			<value>${db.username}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>
	</bean>

	<bean id="lifeCycleBean" class="com.git.bean.lifecycle.LifeCycleBean"
		init-method="inits" destroy-method="destroy">
		<property name="name" value="apple" />
	</bean>

	<!-- 配置初始化方法和销毁方法，但是如果要销毁方法生效scope="singleton" -->
	<bean id="person" class="com.git.bean.lifecycle.Person" scope="singleton"
		lazy-init="false" init-method="init" destroy-method="destory" />

	<!-- 配置初始化方法和销毁方法，但是如果要销毁方法生效scope="singleton" -->
	<bean id="person2" class="com.git.bean.lifecycle.Person2" scope="singleton"
		lazy-init="false" init-method="init" destroy-method="destory" />

</beans>
