<!DOCTYPE html>
<!-- angularjs启动完成后,会去找ng-app指令.找到后,会认为其内部的所有标签都归angularjs来管理;然后找内部的所有的指令,并进行编译;当找到ng-model后,会生成一个greeting.text的数据模型,挂在rootscope作用域下,这样ng-app下的所有子层标签都可以获得greeting.text的值-->
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		<!--angularjs的数据模型不需要手动创建,都是绑定在scope数据模型上的-->
		<input ng-model="greeting.text"/>
		<!-- {{}} 取值表达式(类似于EL表达式) -->
		<p>{{greeting.text}}, AngularJS</p>
	</div>
</body>
<script src="../js/angular.js"></script>
</html>