<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>动物</title>
	<style type="text/css">
		.animal {
			width: 100px;
			height: 100px;
			cursor: pointer; /*鼠标悬停时变成手的形状*/
			background-image: url(../images/animal.png);
			background-repeat: no-repeat; /*图片不横向重复*/
			background-position-x: 0px;
			background-position-y: 0px;
			/*为div边框加上颜色,方便查看div的大小*/
			border-color: red;
			border-style: solid;
		}
	</style>
</head>
<body>
	<div class="animal"></div>
</body>
</html>
<script src="../js/jquery-3.0.0.js"></script>
<script type="text/javascript">
	$(".animal").hover(function() {
		$(this).css("background-position","-100px 0");
	}, function() {
		$(this).css("background-position", "0px 0px");
	}).click(function() {
		alert("Hello World!");
	});
</script>